* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafaf8;
  font-family: Inter, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 110px;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 42px;
}

.headerText {
  font-weight: 400;
  font-size: 2rem;
  margin-left: 11px;
  padding: 4px 0px;
}
